#flyoutMenu {
   width: 20vw;
   height: 100vh;
   background-color: #FFE600;
   position: fixed;
   top: 0;
   left: 0;
   transition: transform 0.3s
     cubic-bezier(0, .52, 0, 1);
   overflow: scroll;
   z-index: 1000;
   border-right: 5px solid #999B00;
}

.cross {
  width: 30px;
  height: 30px;
  background: url('img/close.png') 0 0;
  position: absolute;
  top: 5px;
  right: 5px;
}

.cross:active {
  width: 28px;
  height: 28px;
  top: 6px;
  right: 6px;
}

#flyoutMenu.hide {
   transform: translateX(-21vw);
}

#flyoutMenu.show {
   transform: translate3d(0vw, 0, 0);
   overflow: hidden;
}

#flyoutMenu h2 a {
   color: #333;
   margin-left: 15px;
   text-decoration: none;
}

#flyoutMenu h2 a:hover {
   text-decoration: underline;
}
